[% USE raw %]
[% USE Asset %]
[% PROCESS 'i18n.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha: [% metadata.plugin_name %]: Print report</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

[% USE Branches %]
[% USE AuthorisedValues %]
[% USE ItemTypes %]
[% PROCESS 'html_helpers.inc' %]

[% INCLUDE 'plugin_breadcrumbs.inc' active_text='Print report' %]

<div class="main container-fluid">

    <div class="page-header">
        <h2>[% metadata.plugin_name %]</h2>
    </div>

    [% WRAPPER tabs id= "universalprintreport" %]
        [% WRAPPER tabs_nav %]

            [% WRAPPER tab_item tabname= "labelsbatches"  bt_active= 1 %]
                <span>Labels</span>
            [% END %]

            [% WRAPPER tab_item tabname= "holdsqueue" %]
                <span>Holds queue</span>
            [% END %]

            [% IF ( CAN_user_reports_execute_reports ) %]
                [% WRAPPER tab_item tabname= "reports" %]
                    <span>SQL Reports</span>
                [% END %]
            [% END %]

        [% END # /WRAPPER tabs_nav %]

        [% WRAPPER tab_panels %]

            [% WRAPPER tab_panel tabname="labelsbatches" bt_active= 1 %]
                [% INCLUDE "reports/form_labelsbatches.inc" %]
            [% END  %]

            [% WRAPPER tab_panel tabname="holdsqueue" %]
                [% INCLUDE "reports/form_holdsqueue.inc" %]
            [% END %]

            [% IF ( CAN_user_reports_execute_reports ) %]
                [% WRAPPER tab_panel tabname="reports" %]
                    [% INCLUDE "reports/form_reports.inc" %]
                [% END %]
            [% END %]

        [% END # /WRAPPER tab_panels %]
    [% END # /WRAPPER tabs %]

[% INCLUDE 'intranet-bottom.inc' %]
